.inline {
	display: inline;
	margin : 4px;
	text-align: center;
}
.img {
	text-decoration: none
}
.flex {
	display: flex;
}
.first_choice {
	flex:1;
	border-right: 5px solid #cf092f;
}

.education_situation {
	background-color: #D3D3D3;
}
.footer {
	background-color: #FFE4C4;
	text-align: center;
}
.title {
	text-align: center;
	margin-top: 10px;
	z-index: 1;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #cf092f;
	background-color: #dfe0ea;
	padding: 10px;
}
.header {
	display: flex;
    flex-wrap: initial;
    position: relative;
}
.banner {
	position: absolute;
	top:0;
	left:0;
	background-image:url(images/bandeau.png);
	background-repeat: no-repeat;
	background-position: center;
	flex-basis: 85%;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.pages{
	display: flex;
	background-color: #DCDCDC;

}
.col_logo {
	flex-basis: 85%;
	text-align: right;
}
.col_menu {
	flex-basis: 15%;
	height: 80px;

input{
	margin: 5px 5px 5px 5px;
	border-radius: 8px;
	border:1px ridge black;
	padding: 5px 5px 5px 5px;
}
.label-cordonnées{
	min-width: 125px;
	display: inline-block;
}

}
.col_title {
	
	text-align: center;
}

.menu {
	margin-top: 0;
}

.menu .container {
	margin-top: 16px;
	position: absolute;
	display: block;
	min-height: 100px;
	width: 100px;
	background-color: #cf092f;
	border-radius: 100px;
}
.menu .container img {
	position: absolute;
	left: 50%;
	top: 30px;
	transform: translate(-50%, 0);
	height: 40px;
    width: 40px;
}

.menu .sub-menu {
	display: block;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	transition: .8s;
}
.menu .sub-menu li:first-child {
	margin-top: 80px;
}
.menu .sub-menu li {
	list-style-type: none;
	margin: 5px 0;
	text-align: center;
	font-size: large;
	text-decoration : none;

}
.menu .sub-menu a {
	text-decoration: none;
	color: #000000;
}

.menu .container:hover .sub-menu {
	height: auto;
	padding-bottom: 20px;
}
.menu .sub-menu li:hover {
	background-color: #dfe0ea;



}




.label-scolarité{
	min-width: 235px;
	display: inline-block;
}
.label-parrain{
	min-width: 121px;
	display: inline-block;
}

.label-situation{
	min-width: 168px;
	display: inline-block;
}
.row{
	display: flex;
}
.col-1{
	flex-basis: 50%;

}
.col-2{
	flex-basis: 25%;
}
.col-3{
}