.header {
	display: flex;
    flex-wrap: initial;
    position: relative;
}
.flex{
	flex-basis: 100%;


}
.banner {
	position: absolute;
	background-image:url(images/bandeau.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100%;
}

.col_menu {
	height: 80px;
}

.menu {
	margin-top: 0;
}

.menu .container {
	margin-top: 16px;
	position: absolute;
	display: block;
	min-height: 100px;
	width: 100px;
	background-color: #cf092f;
	border-radius: 100px;
	transition: .8s;
}

.menu .container img {
	position: absolute;
	left: 50%;
	top: 30px;
	transform: translate(-50%, 0);
	height: 40px;
    width: 40px;
}

.menu .sub-menu {
	display: block;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	transition: .8s;
}

.menu .sub-menu li:first-child {
	margin-top: 80px;
}

.menu .sub-menu li {
	list-style-type: none;
	margin: 5px 0;
	text-align: center;
	font-size: large;
	text-decoration : none;

}

.menu .sub-menu a {
	text-decoration: none;
	color: #000000;
}

.menu .container:hover .sub-menu {
	height: auto;
	padding-bottom: 20px;
}

.menu .sub-menu li:hover {
	background-color: #dfe0ea;
}

.col_logo {
	flex-basis: 85%;
	text-align: right;
}

.col_title {
	
	text-align: center;
}

.title {
	text-align: center;
	margin-top: 10px;
	z-index: 1;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #cf092f;
	background-color: #dfe0ea;
	padding: 10px;

}
.first_choice {
	border-right: 5px solid #cf092f;padding-right: 10px;
}
.back_gestion {
	display: inline-block;
	background-color: #F69D25;
	border-radius: 20%;
	border-radius: 10px 100px / 120px;
	width: 350px;
	margin-top: 10px;
	box-shadow: 5px 5px 10px grey;
	margin-bottom: 5px;
}
.gestion {
	color: #FBFFFB;
	margin: 7px;
}
.fond_gestion {
	background-color: rgba(246, 149, 2, 0.21);
	border-radius: 20px;
	padding-left: 10px;
	margin: 10px 0px 10px 0px;
	box-shadow: 5px 5px 13px grey;
}
.back_management {
	display: inline-block;
	background-color: #C6D300;
	border-radius: 20%;
	border-radius: 10px 100px / 120px;
	width: 350px;
	margin-top: 10px;
	box-shadow: 5px 5px 10px grey;
	margin-bottom: 5px;
}
.management{
	color: #FBFFFB;
	margin: 7px;
}
.fond_management {
	background-color: rgba(160, 246, 9, 0.21);
	border-radius: 20px;
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	box-shadow: 5px 5px 13px grey;
}
.back_informatique{
	display: inline-block;
	background-color: #23BAEF;
	border-radius: 20%;
	border-radius: 10px 100px / 120px;
	width: 350px;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
	box-shadow: 5px 5px 10px grey;
}
.informatique {
	color: #FBFFFB;
	margin: 7px;

}
.fond_informatique {
	background-color: rgba(51, 210, 246, 0.21);
	border-radius: 20px;
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	box-shadow: 5px 5px 13px grey;
}

.contact_title {
	margin-top: 0px;
	margin-bottom: 38px;
}
.back_contact {
	background-color: rgba(171, 172, 167, 0.42);
	box-shadow: 5px 5px 10px grey;
	border-radius: 25px 25px 25px 25px;
	margin-bottom: 10px;
	padding: 10px 15px 10px 10px;
}
.coordonnées_title {
	margin-top: 10px;
}
.education_situation {
	background-color: rgba(245, 244, 4, 0.24);
	border-radius: 25px 25px 25px 25px;
	box-shadow: 5px 5px 10px grey;
	padding-left: 10px;
	padding-top: 2px;
}

.button{
	text-align: center;
	margin-top: 10px;
}
.button input{
	height: 35px;
    width: 50px;
    font-weight: 500;
}

.footer {
	background-color: #444c54;
	text-align: center;
	display: flex;
	color: #FFFFFD;
}

.col_address{
	flex-basis: 50%;
	margin-top: 17px;
}
.col_address a{
	text-decoration: none;
	color: #D3D3D3;
	display: inline-block;
	text-align: left;
}

.col_contact {
	flex-basis: 50%;
	height: auto;
}
.mail p {
	padding-top: 5px;
}
.mail a {
	text-decoration: none;
	color: #D3D3D3;
}

.title_reseaux {
	text-align: center;
}

.title_reseaux h3{
	margin: 3px 0px 3px 0px;
}

.reseaux {
	text-align: center;
}

.logo_reseaux {
	text-align: center;

}
.marge_reseaux {
	display: inline;
	margin : 4px;
	text-align: center;
}
.img {
	text-decoration: none
}

.ULLL {
	padding: 0px 0px 0px 0px;
}

p{
	margin: 5px 5px 5px 5px;
}

input{
	margin: 5px 5px 5px 5px;
	border-radius: 8px;
	border:1px ridge black;
	padding: 5px 5px 5px 5px;
}

.label-with-margin{
	margin: 5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	display: inline-block;
}
.row{
	display: flex;
	flex-direction: row;

}
.col-1{
	flex-basis: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.col-2{
	flex-basis: 25%;
}
.col-3{
	flex-basis: 37%;
}
.col-4{
	flex-basis: 15%;
}
.col-5{
	flex-basis: 75%;
}
.col-6{
	flex-basis: 60%;
}
.col-7{
	flex-basis: 100%;
}
.margin-phase{
	margin-left: 5px;
	margin-block-end: 1.20em;
}
.margin-phase2{
	margin-left: 10px;
}
.label-with-margin-phase2{
	margin: 3px 5px 3px 5px;
	padding:3px 5px 3px 5px;
	display: inline-block;
}
.conteiners-SP{
	margin-left: 30px;
}
.conteiners_SP2{
	margin-left: 30px;
}

.hidden {
	display: none;
}


.button-div{

	text-align: center;
}
.button {
	display: inline-flex;
	position: relative;
	outline: none;
	text-decoration: none;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	height: 60px;
	width: 210px;
	opacity: 1;
	background-color: #ffffff;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 5px 5px 10px grey;
}

.button span {
	color: rgb(0, 0, 0);
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
}

.button:hover {
	animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
	animation: storm 1s ease-in-out both;
}


@keyframes rotate {
	0% {
		transform: rotate(0deg);
		translate3d(0, 0, 0);
	}
	25% {
		transform: rotate(3deg);
		translate3d(0, 0, 0);
	}
	50% {
		transform: rotate(-3deg);
		translate3d(0, 0, 0);
	}
	75% {
		transform: rotate(1deg);
		translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(0deg);
		translate3d(0, 0, 0);
	}
}

@keyframes storm {
	0% {
		transform: translate3d(0, 0, 0);
		translateZ(0);
	}
	25% {
		transform: translate3d(4px, 0, 0);
		translateZ(0);
	}
	50% {
		transform: translate3d(-3px, 0, 0);
		translateZ(0);
	}
	75% {
		transform: translate3d(2px, 0, 0);
		translateZ(0);
	}
	100% {
		transform: translate3d(0, 0, 0);
		translateZ(0);
	}
}

@media (min-width: 1080px) and (max-width: 1250px)
{
	.banner {width: 70%; height: 70%; margin-left:10%; margin-top:1%;}
}

@media (min-width: 980px) and (max-width: 1080px)
{
	.banner {width: 70%; height: 70%; margin-left:15%; margin-top:1%;}
}

@media (min-width: 780px) and (max-width: 980px)
{
	.banner {width: 40%; height: 40%; margin-left: 30%; margin-top:3%;}
}

@media screen and (max-width: 780px)
{
	.banner { display: none}
	.col_logo {margin-right: 5%;}
	.row{flex-wrap: wrap;}
	.col-1 {flex-basis: 100%;}
	.first_choice {border-right: none;}
}