.inline {
	display: inline;
	margin : 4px;
	text-align: center;
}
.img {
	text-decoration: none
}
.flex {
	display: flex;

}
.first_choice {
	width: 50%;
	margin-left: 40px;
	background-color: #D3D3D3;
	margin-right: 100px;
	border-right: 5px solid #cf092f;
	border-radius: 10px;
}
.information {

	flex: 1;
	margin-left: 3%;
}
.education_situation {
	background-color: #D3D3D3;
}
.footer {
	background-color: #FFE4C4;
	text-align: center;
}
.title {
	text-align: center;
}
.header {
	background-image:url(images/bandeau.png);
	background-blend-mode: 40%;
	background-repeat: no-repeat;
	background-position: center;
}
.pages{
	display: flex;
	background-color: #DCDCDC;

}
.col {
flex: 1;
}

